// =================================
// COMPONENTE: HAMBURGER MENU (MOBILE)
// =================================

@use '../abstracts/colors' as *;
@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;
@use '../abstracts/breakpoints' as *;

.hamburger-btn {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  @include reset-button;
  padding: 8px;
  width: 40px;
  height: 40px;
  position: relative;

  @include md {
    display: flex;
  }

  span {
    display: block;
    width: 24px;
    height: 3px;
    background: $text-white;
    border-radius: 3px;
    transition: $transition-slow;
    position: absolute;

    &:nth-child(1) {
      top: 10px;
    }

    &:nth-child(2) {
      top: 18px;
    }

    &:nth-child(3) {
      top: 26px;
    }
  }
}
