// =================================
// COMPONENTE: HAMBURGER MENU (MOBILE)
// =================================

@import '../abstracts/colors';
@import '../abstracts/variables';
@import '../abstracts/mixins';
@import '../abstracts/breakpoints';

.hamburger-btn {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  @include reset-button;
  padding: 8px;
  width: 40px;
  height: 40px;
  position: relative;

  @include md {
    display: flex;
  }

  span {
    display: block;
    width: 24px;
    height: 3px;
    background: $text-white;
    border-radius: 3px;
    transition: $transition-slow;
    position: absolute;

    &:nth-child(1) {
      top: 10px;

      .menu-open & {
        top: 18px;
        transform: rotate(45deg);
      }
    }

    &:nth-child(2) {
      top: 18px;

      .menu-open & {
        opacity: 0;
      }
    }

    &:nth-child(3) {
      top: 26px;

      .menu-open & {
        top: 18px;
        transform: rotate(-45deg);
      }
    }
  }
}
