// =================================
// COMPONENTE: STATS GROUP
// =================================

@import '../abstracts/colors';
@import '../abstracts/variables';
@import '../abstracts/mixins';
@import '../abstracts/breakpoints';

.stats-group {
  display: flex;
  align-items: stretch;
  gap: 0;
  height: 60px;

  @include md {
    flex-direction: row;
    height: auto;
    gap: $spacing-xs;
    width: 100%;
  }
}
