// =================================
// COMPONENTE: STATS GROUP
// =================================

@use '../abstracts/colors' as *;
@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;
@use '../abstracts/breakpoints' as *;

.stats-group {
  display: flex;
  align-items: stretch;
  gap: 0;
  height: 60px;

  @include md {
    flex-direction: row;
    height: auto;
    gap: $spacing-xs;
    width: 100%;
  }
}
