// =================================
// BREAKPOINTS & MEDIA QUERIES
// =================================

// Breakpoints
$breakpoint-xs: 320px;
$breakpoint-sm: 480px;
$breakpoint-md: 768px;
$breakpoint-lg: 1024px;
$breakpoint-xl: 1280px;
$breakpoint-2xl: 1536px;

// Media Query Mixins
@mixin xs {
  @media (max-width: #{$breakpoint-xs}) {
    @content;
  }
}

@mixin sm {
  @media (max-width: #{$breakpoint-sm}) {
    @content;
  }
}

@mixin md {
  @media (max-width: #{$breakpoint-md}) {
    @content;
  }
}

@mixin lg {
  @media (max-width: #{$breakpoint-lg}) {
    @content;
  }
}

@mixin xl {
  @media (max-width: #{$breakpoint-xl}) {
    @content;
  }
}

@mixin xxl {
  @media (max-width: #{$breakpoint-2xl}) {
    @content;
  }
}

// Min-width Media Queries (para mobile-first)
@mixin min-sm {
  @media (min-width: #{$breakpoint-sm + 1}) {
    @content;
  }
}

@mixin min-md {
  @media (min-width: #{$breakpoint-md + 1}) {
    @content;
  }
}

@mixin min-lg {
  @media (min-width: #{$breakpoint-lg + 1}) {
    @content;
  }
}

@mixin min-xl {
  @media (min-width: #{$breakpoint-xl + 1}) {
    @content;
  }
}

// Custom Breakpoint
@mixin breakpoint($size) {
  @media (max-width: $size) {
    @content;
  }
}

@mixin min-breakpoint($size) {
  @media (min-width: $size) {
    @content;
  }
}

// Between Breakpoints
@mixin between($min, $max) {
  @media (min-width: $min) and (max-width: $max) {
    @content;
  }
}

// Orientation
@mixin landscape {
  @media (orientation: landscape) {
    @content;
  }
}

@mixin portrait {
  @media (orientation: portrait) {
    @content;
  }
}

// Retina Display
@mixin retina {
  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    @content;
  }
}
